.features{
    width: 100%;
    position: relative;
    display: flex;
    padding: 20px 0px;
    text-wrap: nowrap;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 100%, rgba(217, 217, 217, 0.042) 100%);
    border: 1px solid #FFFFFF33;
    -webkit-backdrop-filter: blur(100px);
    backdrop-filter: blur(100px);
    box-shadow: 0px 4px 20px -1px #00000000;
}
.slide{
    font-family: "OndoBoldRegular", sans-serif;
font-size: 30px;
font-weight: 800;
line-height: 33.18px;
letter-spacing: 0.04em;
text-align: left;
text-transform: uppercase;
flex: 0 0 auto;
}
.slide img{
    width: 20px;
    padding: 0px 10px;
}

.content-wrapper {
    padding-inline: 8px;
    display: flex;
    column-gap: 16px;
    align-items: center;
    animation: scroll 30s linear infinite;
    }
    .scroll {
    animation: scroll 30s linear infinite;
    }
    @keyframes scroll {
    from {
      transform: translateX(-100%);
    }
    to {
      transform: translateX(0);
    }
    }