<div class="features marquee-container">
    <div class="content-wrapper">
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>Gaming spaning</span></div>
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>Action <span class="lato-black">-</span> packed</span></div>
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>mind <span class="lato-black">-</span> bending</span></div>
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>collection og games</span></div>
    </div>
    <div class="content-wrapper">
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>Gaming spaning</span></div>
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>Action <span class="lato-black">-</span> packed</span></div>
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>mind <span class="lato-black">-</span> bending</span></div>
        <div class="slide"><img alt="-" class="star" src="/images/star.svg" /><span>collection og games</span></div>
    </div>
  </div>