
h1{
text-align: center;
padding: 20px 20px;
font-size: 66px;
font-weight: 800;
line-height: 76.96px;
letter-spacing: 0.04em;
text-align: center;
  }
.favgames{
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.favgames .textgames p{
	max-width: 518px;
}
.favgames p {
	text-align: center;
	margin: auto;
font-size: 16px;
font-weight: 400;
line-height: 29.62px;
letter-spacing: 0.04em;
text-align: center;

}
.view-play{
    margin: 30px auto;
}