.virtualgaming{
    display: flex;
    min-height: 100vh;
}
.virtContWrap{
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.084) 0%, rgba(217, 217, 217, 0.042) 100%);
    border: 1px solid #FFFFFF33;
    -webkit-backdrop-filter: blur(50px);
    backdrop-filter: blur(50px);
    box-shadow: 0px 4px 20px -1px #00000000;
}