<section class="virtualgaming">
    <div class="virtContWrap">
        <div class="virt-img">
            <div class="virt-img-overlay">
                <img src="/images/virtual-gaming.png" alt="" class="overlay-image">
            </div>
        </div>
        <div class="virt-cont">
            <h1>Discover the<br><span class="textgrad">Virtual</span> Reality gaming</h1>
            <p>A well-designed gaming header often incorporates elements such as game characters, iconic symbols, vibrant colors, and dynamic visuals to convey excitement, adventure, and the immersive nature of gaming.</p>
            
        <app-button label="Play Now" buttonType="board-btn2" ></app-button>
        </div>
    </div>
</section>

<app-features></app-features>