<nav class="navbar">
    <div class="logo">
        <a href=""><img src="images/logo.svg" alt="" srcset="" width="150" height="35"></a>
    </div>
    <div class="menu-toggle" id="mobile-menu">
        <span class="bar"></span>
        <span class="bar"></span>
        <span class="bar"></span>
    </div>
    <ul class="nav-list">
        <li><a href="#">Products</a></li>
        <li><a href="#">Apps & Games</a></li>
        <li><a href="#">features</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">about</a></li>
    </ul>
    <div class="cart">
        <a href="#">Cart</a>
    </div>
</nav>