<nav class="navbar">
    <div class="logo">
        <a href=""><img src="images/logo.svg" alt="" srcset="" width="150" height="35"></a>
    </div>
    <div class="menu-toggle" id="mobile-menu">
        <img src="/images/mob-menu.svg" alt="" srcset="">
    </div>
    <ul class="nav-list">
        <li><a href="#">Products</a></li>
        <li><a href="#">Apps & Games</a></li>
        <li><a href="#">features</a></li>
        <li><a href="#">Support</a></li>
        <li><a href="#">about</a></li>
    </ul>
    <div class="cart">
        <a href="#"><img src="/images/cart.svg" alt=""></a>
    </div>
</nav>