<section class="topgames">
    <div class="topgames-txt">
    <h1>Welcome to the <br>top <span class="textgrad">games</span></h1>
    </div>
    <div class="view-play mt-20">    
        <app-button label="Newest Games" buttonType="board-btn1" ></app-button>
        <app-button label="Latest Games" buttonType="board-btn2" ></app-button>
        <app-button label="Fight Games" buttonType="board-btn2" ></app-button>
        <app-button label="Sport Games" buttonType="board-btn2" ></app-button>
    </div>
    <app-cardgame></app-cardgame>
</section>

<app-features></app-features>