.topgames{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 60px;
    min-height: 100vh;
}
h1 {
    text-align: center;
}
.view-play{
    margin-top: 40px;
    display: flex;
padding: 0px 50px;
}

@media (max-width:768px){
.view-play {
	overflow-y: scroll;
	width: 100%;
    padding: 0;
}

}